*{
  padding: 0;
  margin: 0;
}
.div{
  background-size: 169px 273px;
	background-repeat: no-repeat;
  background-image: url('../img/mysprite.png');
  background-position: 0 -23px;
  width: 46px;
  height: 40px;
}
